@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    transition: 0.15s;
    padding: 20px;
}
p {
    margin: 0;   
}
.darkmode {
    background-color: black;
    color : #fff;
}

button {
    padding: 8px 12px;
    border:0;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

button:active, button:focus {
    outline: none;
}